<% include header %>
    <div class="container-wrap">
        <aside id="fh5co-hero">
            <div class="flexslider">
                <ul class="slides" style="height:350px;">
                    <li style="background-image: url(images/BG2.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                                    <div class="slider-text-inner">
                                        <h1 style="background:white;padding:5px;width:313px;border-radius:5px;">欢迎来到漫画交流空间</h1>
                                        <p>
                                            <a class="color<%= Math.floor(Math.random() * 7) %>" href="#"></i>关于我</a> <a href="#" class="color<%= Math.floor(Math.random() * 7) %>">了解更多</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/BG1.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                    <div class="slider-text-inner">
                                        <h1 style="background:white;padding:5px;width:313px;border-radius:5px;">在这里有很好玩的知识</h1>
                                        <p>
                                            <a class="color<%= Math.floor(Math.random() * 7) %>" href="#"></i>关于我</a> <a href="#" class="color<%= Math.floor(Math.random() * 7) %>">了解更多</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/BG3.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1 style="background:white;padding:5px;width:313px;border-radius:5px;">在这可以交到许多朋友</h1>
                                        <p>
                                            <a class="color<%= Math.floor(Math.random() * 7) %>" href="#"></i>关于我</a> <a href="#" class="color<%= Math.floor(Math.random() * 7) %>">了解更多</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/BG4.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                    <div class="slider-text-inner">
                                        <h1 style="background:white;padding:5px;width:313px;border-radius:5px;">这里非常期待你的加入</h1>
                                        <p>
                                            <a class="color<%= Math.floor(Math.random() * 7) %>" href="#"></i>关于我</a> <a href="#" class="color<%= Math.floor(Math.random() * 7) %>">了解更多</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div id="fh5co-counter" class="fh5co-counters">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box">
                    <p>热爱漫画，热爱生活</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-3 col-xs-6 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="3616" data-speed="7000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">累计点赞</span>
                        </div>
                        <div class="col-md-3 col-xs-6 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="665" data-speed="7000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">累计会员</span>
                        </div>
                        <div class="col-md-3 col-xs-6 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="8145" data-speed="7000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">累计回复</span>
                        </div>
                        <div class="col-md-3 col-xs-6 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="10967" data-speed="7000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">累计浏览</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fh5co-blog" style="position:relative;">
            <div class="row">
                <% posts.forEach(function (post, index) { %>
                    <div class="col-md-4 ">
                        <div class="fh5co-blog animate-box">
                            <a href="/u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>" class="blog-bg" style="background-image: url(images/<%= Math.floor(Math.random() * 11) %>.jpg);border-radius:25px 25px 0 0"></a>
                            <div class="blog-text" style="border-radius:0 0 25px 25px">
                                <span class="posted_on"><%= post.time.minute %></span> &#x3000;
                                <h2>
                                    <a style="color:black" href="/u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">
                                        <%= post.title %>
                                    </a>
                                </h2>
                                <p>
                                    <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                                        <a style="color:gray;" href="/u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">
                                            ...<%- post.post %>
                                        </a>
                                    </div>
                                    作者：
                                    <a href="/u/<%= post.name %>">
                                        <%= post.name %>
                                    </a>
                                    <span class="pull-right"> 标签：<% post.tags.forEach(function (tag, index) { %>
                                                        <% if (tag) { %>
                                                            <a style="color:orange" href="/tags/<%= tag %>">
                                                                <%= tag %>
                                                            </a>
                                                            <% } %>
                                                                <% }) %>
                                                                </span>
                                </p>
                                <ul class="stuff">
                                    <li><span class="glyphicon glyphicon-comment"></span></i>
                                        <%= post.comments.length %>
                                    </li>
                                    <li><span class="glyphicon glyphicon-heart-empty"></span></i>
                                        <%= post.pv %>
                                    </li>
                                    <a class="pull-right" href="/u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">回复</a>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <% }) %>
                        <ul style="position:absolute;bottom:-30px;right:30px; ">
                            <%- include paging %>
                        </ul>
            </div>

        </div>
    </div>

    <% include footer %>